body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  padding: 15px 35px;
  color: #ffff;
  font-family: Open Sans;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 200px;
}
.nav-title {
  color: #181818;
  font-family: Open Sans;
  font-size: 45px;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  counter-reset: #474747;
}

.profile-pic{
  margin-top: 88px;
}
/* header related style  */
.header {
  /* background-color: white; */
  background-image: url("../images/header_bg.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}
/* .header{
    background-image: url("../images/developer.png");
    background-position: top left;
    background-repeat: no-repeat;
   } */
.baner-big{
  display: flex;
}

.banner {
  display: inline;
  align-items: center;
  padding: 50px 50px 50px 150px;
}

/* about styles  */


.about{
  color:#181818);
  text-align: center;
  font-family: Open Sans;
 }

.whtido h1 p{
text-align:center;
}

.section-description{
display: flex;
flex-direction: column;
color:#757575);
text-align: center;
}

/* main section styles */
.section-title {
  color:#181818);
  text-align: center;
}

.section-description {
  color:#757575);
  text-align: center;
}

/* About section styles */
.about {
  text-align: center;
  color: #757575;
}
 /* 2nd section  */
 .container{
  display: flex;
  justify-content:space-around;
  color: #757575;
  text-align: center;
 }

.sec-para{
  color:#757575);
text-align:center;
font-family:Open Sans;
  font-size:18px;
}

 
.container-2{
  display: flex;
  justify-content: space-between;
 
}
.dv-sec2{
  padding: 40px 20px;
}
 .container-3{
  display: flex;
  justify-content: center;
 }
 .container-4{
  display: flex;
  justify-content:space-around;
 }
 .dbnbtn{
  text-align: center;
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  padding: 10px 25px;
  color: #ffff;
  font-size: 20px;
 }
 .container-5{
  display: flex;
  justify-content:space-around;
 }
